* {
    margin: 0;
}

body {
    animation: whee 5s infinite;
    font-family: "Roboto", sans-serif;
}

#bg {
    background: #FBE9EA;
    height: 100%;
    position: absolute;
    width: 100%;
}

#container {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    -webkit-text-stroke: 2px #F3888F;
    color: white;
    font-size: 128pt;
    font-weight: 400;
}

@keyframes whee {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}