::selection {
    background: #eca1a6;
    color: #F3F9FF;
}

* {
    margin: 0;
}

body {
    background: url("/assets/img/bg.png"), #eca1a6;
    font-family: "Lobster", cursive;
}

#container {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.row {
    display: flex;
}

div.row:not(:last-of-type) {
    margin-bottom: 2em;
}

.card {
    animation: grow .8s ease forwards;
    background: #F3F9FF;
    box-shadow: 10px 10px #282D4E;
    color: #282D4E;
    font-size: 2em;
    padding: 1em;
    transform: scale(0);
}

.card-link {
    cursor: pointer;
    transition: all .3s ease;
}

.card-link:hover {
    background: #c2686e;
    color: #F3F9FF;
}

.card-link:active {
    box-shadow: 5px 5px #c2686e;
    transform: translate(5px, 5px);
}

span.card:not(:last-of-type),
a.card-link:not(:last-of-type) {
    margin-right: .5em;
}

#chibi {
    bottom: 0;
    height: 420px; /* haha that's the weed number */
    left: 80%;
    overflow: hidden;
    position: fixed;
    transform: translate(-50%);
    z-index: -9999;
}

#chibi>a>img {
    animation: 2s chibi ease-in-out infinite alternate;
}

footer {
    bottom: 0;
    color: #282D4E;
    font-size: 20px;
    left: 50%;
    margin-bottom: 50px;
    position: absolute;
    transform: translate(-50%);
}

@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.grow-finished {
    animation: none;
    transform: scale(1);
}

@keyframes chibi {
    from {
        transform: translateY(3%);
    }
    to {
        transform: translateY(0%);
    }
}
